* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Carter One', cursive;
  font-size: 72px;
  margin-bottom: 0px;
}

.sub-title {
  font-size: 20px;
  margin-bottom: 25px;
}

.header {
  margin: 10px;
}

@keyframes slidein {
  0%   {top: 0px; left: 25%}
  100% {top: 0px; left: 75%}
}

.m-top-75 {
  margin-top: 75px;
}

.f-size-18 {
  font-size: 18px;
}

.f-size-17 {
  font-size: 17px;
}

.loader-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: relative;
  animation: slidein 3s infinite;
} 


h2 {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.f-size-14 {
  font-size: 14px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  margin-top: 10px;
}

.results-list {
  background-color: #D9D6D2;
  padding: 25px;
  border-radius: 10px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url('images/background-img.jpg');
  background-size: 200%;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.error-message {
    color: red;
    text-align: center;
}

.hidden {
  display: none;
}

.bird-img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}

form {
  text-align: center;
}

select {
  padding: 5px;
  margin: 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 16px;
}

.btn {
  padding: 5px;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.item {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
  flex: 1;
}

.item-double {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
  flex: 3;
}

.group {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 50px;
}

.align-center {
  text-align: center;
}

#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}

#back2Top:hover {
  background-color: #DDF;
  color: #000;
}

@media all and (min-width: 800px) {
  .group {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}